@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-default-light-text dark:text-default-dark-text bg-default-light-bg2 dark:bg-default-dark-bg2 bg-gradient-to-b from-default-light-bg1 dark:from-default-dark-bg1 to-default-light-bg2 dark:to-default-dark-bg2 bg-repeat-x
    }
    
    pre {
        @apply p-4 my-4 border border-dotted border-default-light-border dark:border-default-dark-border bg-default-light-codebg2 dark:bg-default-dark-codebg2 bg-gradient-to-b from-default-light-codebg1 dark:from-default-dark-codebg1 to-default-light-codebg2 dark:to-default-dark-codebg2 bg-no-repeat shadow-d
    }
    
    code {
        @apply overflow-scroll
    }
    
    body {
        @apply p-4 leading-5
    }
    
    h1 {
        @apply text-4xl font-bold my-2
    }
    
    h2 {
        @apply text-2xl font-bold my-2
    }
    
    h3 {
        @apply text-xl font-bold my-2
    }
    
    
    p {
        @apply mb-4
    }
    
    small {
        @apply text-xs
    }
    
    ul {    
        @apply mb-4 list-disc list-inside
    }
    
    a {
        @apply text-default-light-a dark:text-default-dark-a
    }
    
    a:hover {
        color: #0b78bc;
        text-decoration: underline;

        @apply text-default-light-ahover dark:text-default-dark-ahover
    }
}

