@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        /*@apply text-default-text dark:text-default-dark-text bg-default-bg2 dark:bg-default-dark-bg2 bg-gradient-to-b from-default-bg1 dark:from-default-dark-bg1 to-default-bg2 dark:to-default-dark-bg2 bg-repeat-x*/
        @apply bg-repeatingrepating bg-[length:64px_64px] text-default-text;
        /*bg-[center_top_1840px]*/
    }
    
    pre {
        @apply p-4 my-4 bg-default-pre bg-no-repeat
    }
    
    code {
        @apply overflow-scroll
    }
    
    body {
        @apply leading-5
    }

    h1,h2,h3,p,li,small {
        @apply drop-shadow-t
    }

    h1,h2,h3 {
        @apply font-semibold my-3
    }
    
    h1 {
        @apply text-3xl
    }
    
    h2 {
        @apply text-2xl
    }
    
    h3 {
        @apply text-xl
    }
    
    p {
        @apply mb-4
    }
    
    small {
        @apply text-xs
    }
    
    ul {    
        @apply mb-4 list-disc list-inside
    }
    
    a {
        @apply text-default-a
    }
    
    a:hover {
        color: #0b78bc;
        text-decoration: underline;

        @apply text-default-ahover
    }
}

