@import url("https://unpkg.com/@catppuccin/palette/css/catppuccin.css");

:root {
    --bg1: #ffffff;
    --bg2: #808080;
    --banner1: #ffffff;
    --banner2: #bfbfbf;
    --div: #ffffff;
    --pre: #0000004d;
    --border: #000000;
    --text: #000000;
    --text2: #808080;
    --a: #0d5c8d;
    --ahover: #0b78bc;
}

.theme-dark {
    --bg1: #3a3d40;
    --bg2: #202024;
    --banner1: #939393;
    --banner2: #555555;
    --div: #212122;
    --pre: #0000004d;
    --border: #aaacae;
    --text: #ffffff;
    --text2: #686868;
    --a: #72b9e5;
    --ahover: #8fd1fa;
}

.theme-catppuccin {
    --bg1: var(--ctp-mocha-base);
    --bg2: var(--ctp-mocha-mantle);
    --banner1: var(--ctp-mocha-base);
    --banner2: var(--ctp-mocha-mantle);
    --div: var(--ctp-mocha-surface0);
    --pre: #0000004d;
    --border: var(--ctp-mocha-overlay0);
    --text: var(--ctp-mocha-text);
    --text2: var(--ctp-mocha-overlay1);
    --a: var(--ctp-mocha-blue);
    --ahover: var(--ctp-mocha-text);
}

.theme-sunset {
    --bg1: #ff7e5f;
    --bg2: #feb47b;
    --banner1: #ff9a8b;
    --banner2: #f7d5a1;
    --div: #ffc896d9;
    --pre: #0f0f0080;
    --border: #ffffffb3;
    --text: #61312c;
    --text2: #a8856b;
    --a: #9e3b1f;
    --ahover: #c5603e;
}

.theme-matcha {
    --bg1: #87b073;
    --bg2: #839e6d;
    --banner1: #537450;
    --banner2: #71975e;
    --div: #5e7d4dcc;
    --pre: #0000004d;
    --border: #00000080;
    --text: #c2cfb7;
    --text2: #8d9f85;
    --a: #91b67c;
    --ahover: #bad3a1;
}

.theme-durpy {
    --bg1: #a4b8eb;
    --bg2: #97a5c7;
    --banner1: #b9cbdf;
    --banner2: #97adc7;
    --div: #fff8e7;
    --pre: #0000004d;
    --border: #d5effac3;
    --text: #001224;
    --text2: #718ca8;
    --a: #25518a;
    --ahover: #4571aa;
}

.theme-funny {
    --bg1: #8c00ff;
    --bg2: #ff5e00;
    --banner1: #ff0000;
    --banner2: #00ff15;
    --div: #f100f9;
    --pre: #bd00c4;
    --border: #0a3f11;
    --text: #00b7ff;
    --text2: #2600ff;
    --a: #fffb00;
    --ahover: #fffd82;
}
