---
import MainDiv from "./MainDiv.astro";
---

<MainDiv class="text-center">
    <p class="m-0 leading-3">
        <small>
            | est. june 9, 2024 :: &COPY; 2025 taxevaiden :: powered by astro, github, cloudflare, and with love :3 |
        </small>
    </p>
</MainDiv>