---
import Image from "astro/components/Image.astro";
import SiteButtonContainer from "./SiteButtonContainer.astro";
import banner from "../../images/banner.png";

const bannerWidth = 16+38;
---

<div class="absolute inset-0 bg-[rgba(0,0,0,0.25)] -z-10"></div>
<div class="fixed inset-0 bg-dither-6 -z-10"></div>
<div
    class=`relative text-center z-20 overflow-visible shadow-d w-[${bannerWidth}rem] h-[170.666666667px]`
>
    <Image
        src={banner}
        alt="banner"
        loading="eager"
        width="736"
        class="absolute m-0 pointer-events-none z-20"
    />
    <div
        class="absolute inset-0 bg-gradient-to-b from-default-banner1 to-default-banner2"
    >
    </div>
    <div class="absolute inset-0 bg-dither-14"></div>
    <div class="border border-default-border border-solid shadow-d h-full z-10">
    </div>
</div>
<SiteButtonContainer class=`w-[${bannerWidth}rem]` />
