---
import Layout from "../layouts/Layout.astro";
import MainDiv from "../components/main/MainDiv.astro";

const mainLanguages = [
    "c++",
    "c#",
    "lua",
    "html",
    "css",
    "js",
    "astro (learning as i am typing this!)",
];
---

<Layout title="about | taxevaiden's website" description="who is this guy">
    <MainDiv title="about">
        <p>i'm aiden</p>

        <p>
            i am a uh front-end dev <br>
            i sometimes make changes to this website,, but other than that i just play some games
        </p>

        <p>i don't really draw as much anymore, i'll make doodles from time to time but i Think i like doing this more,,</p>

        <p>
            i also make random stuff from time to time. some of those random
            stuff are projects that were supposed to be finished, but now
            they're not! i wonder why.. (i'm lazy)
        </p>
        <p>here are some programming languages that i either just know how to use or use on the daily</p>

        <ul>
            {mainLanguages.map((mainLanguage) => <li>{mainLanguage}</li>)}
        </ul>
    </MainDiv>

    <MainDiv title="may i have source code please :shy:">
        <p>
            use inspect element
        </p>
        <p>or if you want the <i>full</i> source code, here you go:</p>

        <ul>
            <li>
                <a href="https://github.com/taxevaiden/taxevaiden-website"
                    >taxevaiden-website</a
                >
            </li>
            <li>
                <a href="https://github.com/taxevaiden/taxevaiden-website-old"
                    >taxevaiden-website-old</a
                >
            </li>
        </ul>
    </MainDiv>
</Layout>
