---
import Layout from "../layouts/Layout.astro";
import MainDiv from "../components/main/MainDiv.astro";

const mainLanguages = ["c++", "c#", "rust", "lua", "the web languages"];
---

<Layout title="about | taxevaiden's website" description="who is this guy">
    <MainDiv title="about">
        <p>hello! i'm aiden,</p>

        <p>
            mostly frontend dev but i sometimes do backend too (especially with
            twtGUI)
        </p>

        <p>
            i pp farm on osu a lot When i'm not doing that i mostly just play
            ultrakill (best game) or terraria (also best game)
        </p>

        <p>
            here are some programming languages that i either just know how to
            use or work with on the daily
        </p>

        <ul>
            {mainLanguages.map((mainLanguage) => <li>{mainLanguage}</li>)}
        </ul>
    </MainDiv>
</Layout>
