---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
import { Code } from 'astro:components';

import websiteButton from '../images/misc/88x31button.gif';

const mainLanguages = ["c++", "c#", "lua", "html", "css", "js", "astro (learning as i am typing this!)"]
---

<Layout title="about | taxevaiden's website" description="hey, who am i?">
	<body>

		<div class="max-w-xl p-4 m-auto mb-5 bg-default-light-div dark:bg-default-dark-div border bg-default-dark-border border-dotted shadow-d">
			<h1>about</h1>

			<p>hello, i'm aiden.</p>

			<p>usually what i like to do in my free time is play some simple games like <a href="https://tetr.io/">TETR.IO.</a> if i am EXTRA bored, i might as well just play terraria. great game btw you should get it :)</p>

			<p>i also make random stuff from time to time. some of those random stuff are projects that were supposed to be finished, but now they're not! i wonder why.. (i'm lazy)</p>
			<p>the main coding languages i use are:</p>

			<ul>
				{mainLanguages.map((mainLanguage) => <li>{mainLanguage}</li>)}
			</ul>

			<p>if you would like to link this website onto your own, here is the button + code:</p>

			<a href="https://taxevaiden.pages.dev"><img src={websiteButton.src} alt="the website button!"></a>
			
			
			<Code code="&lt;a href=&quot;https://taxevaiden.pages.dev&quot;&gt;&lt;img src=&quot;/src/images/misc/88x31button.gif&quot;&gt;&lt;/a&gt;" lang="html"></Code>

			
		</div>

		<div class="max-w-xl p-4 m-auto mb-5 bg-default-light-div dark:bg-default-dark-div border bg-default-dark-border border-dotted shadow-d">
			<h1>may i have source code pls :shy:</h1>

			<p>sure, go ahead i don't care</p>
			<p>you can use inspect element to get the source code for this website. you can also use this at <a href="https://oldevaiden.pages.dev">oldevaiden.pages.dev</a></p>
			<p>OR if you want the <i>full</i> source code, here you go:</p>

			<ul>
				<li><a href="https://github.com/taxevaiden/taxevaiden-website">taxevaiden-website</a></li>
				<li><a href="https://github.com/taxevaiden/taxevaiden-website-old">taxevaiden-website-old</a></li>
			</ul>


		</div>
		
	</body>
</Layout>
