---
import Layout from '../layouts/Layout.astro';
import MainDiv from '../components/main/MainDiv.astro';

---

<Layout title="CBF DETECTED | taxevaiden's website" description="CBF DETECTED">
		<MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>

        <MainDiv>
			<h1>CBF DETECTED, LOSER!</h1>

            <p>
                CLICK BETWEEN FRAMES IS ILLEGITIMATE AND WILL NOT BE ALLOWED FOR USE IN TAXEVAIDEN'S WEBSITE. PLEASE DISABLE THE MOD IN ORDER TO CONTINUE PLAYING.
            </p>
		</MainDiv>
</Layout>
