---
import Layout from '../layouts/Layout.astro';
import MainDiv from '../components/MainDiv.astro';
import ChangelogDiv from '../components/ChangelogDiv.astro';
import Image from 'astro/components/Image.astro';
import '../styles/global.css'

---

<Layout title="changelog | taxevaiden's website" description="what were the pointless changes again?">
		<ChangelogDiv>
			<p>here you'll know what "pointless changes" i've made to this website. yes, i know you can just view the repo but some people don't know that much about github. this is a uhh cooler way to know what i've done</p>
			<p>(i actually just needed an excuse to keep working on this site)</p>
		</ChangelogDiv>
</Layout>
