---
import Layout from '../layouts/Layout.astro';
import ChangelogDiv from '../components/ChangelogDiv.astro';

---

<Layout title="changelog | taxevaiden's website" description="pointless changes...">
		<ChangelogDiv>
			<p>here you'll know what somewhat major changes i made to this website.</p>
			<p>(i literally just made this to have something to do with this website)</p>
		</ChangelogDiv>
</Layout>
