---
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import '../styles/global.css'

---

<Layout title="home | taxevaiden's website" description="honey i'm home!">
	<body>
		

		<div class="max-w-xl p-4 m-auto mb-5 bg-white border border-black border-dotted shadow-[0_10px_rgba(0,0,0,0.5)]"> 
			<h1>hey yo, what's the important stuff that's happening yo?</h1>
			<p>this is the new tax evader website!
			i was too lazy to port the posts from the old website to this new one, so you can view them on the old one
			you can view the old one in all its glory here: <a href="https://oldevaiden.pages.dev">oldevaiden.pages.dev</a></p>
		</div>

		<div class="max-w-xl p-4 m-auto mb-5 bg-white border border-black border-dotted shadow-[0_10px_rgba(0,0,0,0.5)]">
			<h1>hello!</h1>

			<p>welcome to my web. usually i just post to my blog or put pointless new stuff on this website.</p>
			<p>why did i make this?</p>
			
			<ul>
				<li>I wanted to</li>
				<li>I'm somewhat good at coding</li>
				<li>I don't know</li>
			</ul>

			<h2><a href="https://status.cafe/">status.cafe</a></h1>

			<div class="p-4 bg-white border border-dotted border-black shadow-[0_10px_rgba(0,0,0,0.5)] mb-5"><div class="mb-2"></div><div class="mx-4 mb-2"></div></div><script src="https://status.cafe/current-status.js?name=aiden20121" defer></script>

			<h2><a href="https://internetometer.com/">internetometer</a></h1>

			<a href='http://internetometer.com/give/50492'><img src='http://internetometer.com/image/50492.png' alt="internetometer"/></a>
		</div>

		<div class="max-w-xl p-4 m-auto mb-5 bg-white border border-black border-dotted shadow-[0_10px_rgba(0,0,0,0.5)]">
			<h1>IMPORTANT NOTES!!!</h1>

			<li>enable javascript. please<br>this website will not function</li>
			<li>you should try refreshing without cache often <b>(ctrl+shift+r)</b> to see the "pointless new stuff" on this website.</li>
			<li>this website is not mobile friendly. at all. it's not designed for it yet and i plan to work on other things other than mobile support for this website. you can probably just use a tablet for now.</li>
			<li>adding onto that, this website is intended to be viewed on windows.</li>
		</div>
		
	</body>
</Layout>
