---
import Layout from "../layouts/Layout.astro";
import MainDiv from "../components/main/MainDiv.astro";
import ChangelogDiv from "../components/ChangelogDiv.astro";
import TwtxtFeed from "../components/main/TwtxtFeed.astro";

import Card from "../components/Card.astro";

// Import all markdown files using import.meta.glob
const allPostsGlob = import.meta.glob("./posts/*.md");

// Resolve all posts into an array
const allPosts = await Promise.all(
    Object.entries(allPostsGlob).map(async ([path, resolver]) => {
        const module = await resolver();
        return {
            frontmatter: module.frontmatter,
            content: module.default || module.content, // Default export or content
            path, // Keep track of the original file path
        };
    }),
);

// Sort the posts by `pubDate` in descending order
allPosts.sort(
    (a, b) =>
        new Date(b.frontmatter.pubDate).getTime() -
        new Date(a.frontmatter.pubDate).getTime(),
);
---

<Layout title="home | taxevaiden's website" description="home sweet home">
    <MainDiv title="hello!">
        <p>
            welcome to my site. i usually post something to the blog every once
            in a while
        </p>

        <ul>
            <li>this website was developed with a 1440p screen on chrome</li>
            <li>
                you don't really have to enable javascript to navigate the site,
                but if you want to change the theme enable it!
            </li>
            <li>
                this website is not mobile friendly at all. using a tablet is
                fine but using a phone is Not great.
            </li>
        </ul>
    </MainDiv>

    <TwtxtFeed server:defer />

    <MainDiv title="latest blog post">
        <Card
            title={allPosts[0].frontmatter.title}
            date={allPosts[0].frontmatter.pubDate}
            description={allPosts[0].frontmatter.description}
            link={allPosts[0].frontmatter.url}
        />
    </MainDiv>

    <ChangelogDiv small />

    <MainDiv title="Q&A">
        <div id="qna"></div>
        <Card
            title="Q: what'd you use to create the site?"
            description={`A: vscode + zed, astro (a web framework), tailwindcss, cloudflare for hosting, and procreate for that guy in the banner`}
        />

        <Card
            title="Q: what happened to the old website?"
            description={`pure html css and js is absolutely Terrible to manage dude i'm not dealing w that shit`}
        />

        <Card
            title="Q: why not nekoweb/neocities?"
            description={`A: they have limits, cloudflare + github doesn't. they're both still really great for hosting your own website though`}
        />

        <Card
            title="Q: source code please"
            description={`A: you could use inspect element but because i'm using astro, you should probably check out the repository on github instead: <a href="https://github.com/taxevaiden/taxevaiden-website">https://github.com/taxevaiden/taxevaiden-website</a>`}
        />
    </MainDiv>
</Layout>
