---
import Layout from "../layouts/Layout.astro";
import MainDiv from "../components/main/MainDiv.astro";
import ChangelogDiv from "../components/ChangelogDiv.astro";

import Card from "../components/Card.astro";

// Import all markdown files using import.meta.glob
const allPostsGlob = import.meta.glob("./posts/*.md");

// Resolve all posts into an array
const allPosts = await Promise.all(
    Object.entries(allPostsGlob).map(async ([path, resolver]) => {
        const module = await resolver();
        return {
            frontmatter: module.frontmatter,
            content: module.default || module.content, // Default export or content
            path, // Keep track of the original file path
        };
    }),
);

// Sort the posts by `pubDate` in descending order
allPosts.sort(
    (a, b) =>
        new Date(b.frontmatter.pubDate).getTime() -
        new Date(a.frontmatter.pubDate).getTime(),
);
---

<Layout
    title="home | taxevaiden's website"
    description="stuck in my room all day... heh"
>
    <MainDiv title="what's the important stuff that's happening yo?">
        <p>nothing's happening</p>
    </MainDiv>

    <MainDiv title="hello!">
        <p>
            welcome to my site. i usually post something to the blog every one or two months
        </p>
        <p>why did i make this?</p>

        <ul>
            <li>I wanted to</li>
            <li>I'm somewhat good at coding</li>
            <li>I don't know</li>
        </ul>

        <h1 id="important-notes">IMPORTANT NOTES!!!</h1>

        <ul>
            <li>
                this website was made with a 1440p screen on chrome. if you have a low-resolution display the background and other elements may look funky
            </li>
            <li>
                you don't really have to enable javascript to navigate the site, but if you want to change the theme enable it!
            </li>
            <li>
                this website is not mobile friendly at all. you can use a tablet ig but using a phone is not great
            </li>
        </ul>
    </MainDiv>

    <MainDiv title="latest blog post">
        <Card
        title={allPosts[0].frontmatter.title}
        date={allPosts[0].frontmatter.pubDate}
        description={allPosts[0].frontmatter.description}
        link={allPosts[0].frontmatter.url}></Card>
    </MainDiv>

    <ChangelogDiv small />

    <MainDiv title="Q&A">
        <div id="qna"></div>
        <Card
            title="Q: what did you use to make this website?"
            description={`A: vscode (also zed if i feel like i wanna learn something), astro, github + cloudflare pages to host, and procreate for the cool art stuff you see!`}
        />

        <Card
            title="Q: what happened to the old website?"
            description={`pure html css and js imo is terrible to maintain,, so i made This one. i love components`}
        />

        <Card
            title="Q: why couldn't you host stuff like this on neocities or nekoweb?"
            description={`A: they have limits, cloudflare + github doesn't. they're both still really great for having your own website though`}
        />

        <Card
            title="Q: are you ever adding comments?"
            description={`A: my answer before to that was probably no, but now that i have my own server (that's literally just my old laptop, i'll probably talk about it soon) i'm thinking about hosting comments on there,, we'll see`}
        />
    </MainDiv>
</Layout>
