---
import Layout from '../layouts/Layout.astro';
import MainContent from '../components/MainContent.astro';
---

<Layout title="home | taxevaiden's website">
	<main>
		<MainContent>
			<h1>hello!</h1>

		<p>what's up skbidis</p>
		</MainContent>
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(0, 0, 0);
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
