---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'

---

<Layout title="projects | taxevaiden's website" description="neeerrrd">
	<body>
		

		<div class="max-w-xl p-4 m-auto mb-5 bg-default-light-div dark:bg-default-dark-div border bg-default-dark-border border-dotted shadow-d"> 
			<h1>projects</h1>
            <p>just know:<br>most of these aren't really projects at all LMAO</p>
            <p>they're mostly just experiments. ok</p>
            <p>this will be in bullet points for now it's 10:45 PM :')'</p>

            <ul>
                <li>this website</li>
                <li>the old website :(</li>
                <li>cool sandbox game</li>
                <li>a swordfight game</li>
                
            </ul>
		</div>
		
	</body>
</Layout>
