---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import MainDiv from '../components/MainDiv.astro';
import '../styles/global.css'

const projectTitles = [
    "this website",
    "the old website",
    "cool sandbox game",
    "a swordfight game"
]

const projectDescriptions = [
    "i really don't know what else to say here. it's this website",
    "ah, the good old days..",
    "i used to make roblox games back in the day. this is one of them! (it's kinda bad)",
    "another roblox game (it's kinda bad"
]

---

<Layout title="projects | taxevaiden's website" description="neeerrrd">
    <MainDiv> 
			<h1>projects</h1>
            <p>just know:<br>most of these aren't really projects at all LMAO</p>
            <p style="margin-bottom: 2em;">they're mostly just experiments. ok</p>

            <div class="project-list">
                {projectTitles.map((title, index) => (
                  <ProjectCard 
                    title={title} 
                    description={projectDescriptions[index]} 
                  />
                ))}
              </div>
		</MainDiv>
</Layout>
