---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import MainDiv from '../components/main/MainDiv.astro';

const projectTitles = [
    "this website",
    "the old website",
    "cool sandbox game",
    "a swordfight game",
    "verlet integration tests",
    "multiple golf games, never finished",
];

const projectDescriptions = [
    "i really don't know what else to say here. it's this website",
    "ah, the good old days..",
    "i used to make roblox games back in the day. this is one of them! (it's kinda bad)",
    "another roblox game (it's kinda bad)",
    "i made a lot of things with verlet integration and it was very.. stable! (no it wasn't)",
    "i had a big vision. one day. one day chat",
];
---

<Layout title="projects | taxevaiden's website" description="neeerrrd">
    <MainDiv>
        <h1>projects</h1>
        <p>just know:<br />most of these aren't really projects at all LMAO</p>
        <p class="mb-8">they're mostly just experiments. ok</p>

        <div class="project-list">
            {
                projectTitles.map((title, index) => (
                    <Card
                        title={title}
                        description={projectDescriptions[index]}
                    />
                ))
            }
        </div>
    </MainDiv>
</Layout>
