---
interface Props {
    title: string;
    date: string;
    description: string;
    link: string;
}

---

<article class="pl-0 pr-4 mb-5 leading-[0.25em]">
    <h3><a href={Astro.props.link}>{Astro.props.title}</a></h3>
    <p>{Astro.props.description}</p>
    <p><small>{Astro.props.date}</small></p>
</article>