---
interface Props {
    title: string;
    date: string;
    description: string;
    link: string;
}

---

<article class="blog_post">
    <h2><a href={Astro.props.link}>{Astro.props.title}</a></h2>
    <p>{Astro.props.description}</p>
    <p><small>{Astro.props.date}</small></p>
</article>

<style>
    .blog_post {
		margin-bottom: 20px;
		
        min-height: 5em;

		padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        line-height: 0.25em;

		border-style: dotted;
		border-width: 1px;
		border-color: black;
		
		background-color: white;

		box-shadow: 0px 10px rgba(0, 0, 0, 0.5);
    }
</style>