---
import MainDiv from './main/MainDiv.astro';
import Card from './Card.astro';

const changes = [
    {
        title: "new changelog! + minor changes,,",
        date: "2024-11-14",
        description: "(actual date was 2024-11-15 haha) new shiny new changelog. this will be used to know what uh, changes happened. some other changes are:",
        descriptionBulleted: [
            "made adding stuff to the socials tab and navigation tab WAY easier for me at least, you won't tell the difference",
            "i also made the navigation bar have some sublinks, you can check them out",
            "new footer at the bottom!",
            "added one site button, and a new button section (these are not sites)",
            "new blog rss! view it with the navigation bar",
            "for more info view the repo because i am too lazy ok ty :)",
        ]
    },
    {
        title: "visual changes",
        date: "2024-11-15",
        description: "yuh i did changes in a day (i need something to do)",
        descriptionBulleted: [
            "changed background, it's now like bitmap stuff how should i describe",
            "minor changes that are too detailed to describe",
            "changed initial changelog to a day before today (ordering, duh)"
        ]
    },

    {
        title: "themes + MORE visual changes",
        date: "2024-11-18",
        description: "hehe",
        descriptionBulleted: [
            "themes are now on the site! i didn't use a custom class for the dropdown like i did on the old so it should worker somewhat more properly. my code is #flawless",
            "the themes so far are the default, dark mode (Where the fuck is dark mode), matcha, and DurpyDoo (friend requested :3) more themes to come!",
            "made actual dithering pattern things for use on this website",
            "idk if you noticed but there's like flickering when you scroll, i fixed that",
            "cooler background",
        ]
    },

    {
        title: "mmm..... mocha....",
        date: "2024-11-19",
        description: "new theme added",
        descriptionBulleted: [
            "catppuccin mocha! i just decided to add it idk,,,,",
            "that's it",
        ]
    },

    {
        title: "powerpoint presentation",
        date: "2024-12-6",
        description: "added A LOT of things so i'll just tell you :)",
        descriptionBulleted: [
            "new view transitions. they look like crappy powerpoint presentations (as intended)",
            "changed formatting to make everything have the same text size",
            "organized a lot of things",
            "upgraded to astro 5! (idrc what the differences are LOL)"
        ]
    },
]

interface Props {
    small?: boolean;
}

const { small = false } = Astro.props;

changes.sort((a, b) => (new Date(b.date).getTime()) - (new Date(a.date).getTime()));

---

<MainDiv>
    {small ? (
        //this is assuming the "small" version is on another page that's not changelog
        <span><a href="/changelog"><h1>changelog</h1></a></span>
    ) : (
        <span><h1>changelog</h1></span>
    )}
    

    <slot />

    <MainDiv class=` ${small && 'overflow-scroll h-48'}`>
        {changes.map((change) => (
            <Card title={change.title} date={change.date} description={change.description}>
                <ul>
                    {change.descriptionBulleted.map((bullet) => (
                        <li class="pl-2">{bullet}</li>
                    ))}
                </ul>
            </Card>
        ))}
    </MainDiv>

</MainDiv>