---
import '../styles/global.css'
---

<div class="p-4 mb-5 bg-default-light-div dark:bg-default-dark-div border border-default-light-border dark:border-default-dark-border border-dotted shadow-d">
    <slot />
</div>