---
import '../styles/global.css'

interface Props {
    class?: string;
}

---

<div class=`p-4 mb-0 bg-default-div border border-default-border border-solid shadow-d overflow-hidden ${Astro.props.class}`>
    <slot />
</div>