---
import Image from 'astro/components/Image.astro';
import banner from '../images/banner.png';

interface Props {
  links: string; //home,index;about,about
}

const { links } = Astro.props;
const linksArray = links.split(";");
---
<div class="m-auto mb-5 max-w-xl bg-white border border-dotted border-black shadow-[0_10px_rgba(0,0,0,0.5)]">
  <div class="overflow-hidden">
    <Image src={banner} alt="the banner." class="object-cover" width="594" loading="eager"></Image>
  </div>
  
  <div class="p-4 border-t border-t-black border-dotted">
    {linksArray.map(link => {
      const [text, url] = link.split(",");
      return <a href={url} class="inline px-2 !m-0">{text}</a>;
    })}

    <p class="inline px-2 !m-0 float-right">taxevaiden</p>
  </div>
</div>