---
import MainDiv from './MainDiv.astro';

interface Props {
  links: string; //home,index;about,about
}

const { links } = Astro.props;
const linksArray = links.split(";");
---

<MainDiv>
    <p class="w-[9rem] mt-6 text-default-light-text2">
        i had to move "navigation" because of the arm covering it,,, sigh. idk what to do with this blank space so here u go 
    </p>
    <h1 class="">navigation</h1>

    <ul class="list-none">
        {linksArray.map(link => {
            const [text, url] = link.split(",");
            return <li><a href={url} class="inline px-2 !m-0">{text}</a></li>;
        })}
    </ul>
</MainDiv>