---
import MainDiv from './MainDiv.astro';

interface Props {
    title: string;
    description: string;
}

---



<MainDiv>
    <h3 class="my-2">{Astro.props.title}</h3>
    <p class="my-1">{Astro.props.description}</p>
</MainDiv>