---
import MainDiv from './MainDiv.astro';

interface Props {
    title: string;
    description: string;
}

---



<MainDiv>
    <h3>{Astro.props.title}</h3>
    <p>{Astro.props.description}</p>
</MainDiv>