---
import MainDiv from './MainDiv.astro';

interface Props {
  links: string; //home,index;about,about
}

const { links } = Astro.props;
const linksArray = links.split(";");
---

<MainDiv>
    <h1>socials</h1>

    <ul class="list-none">
        {linksArray.map(link => {
            const [text, url] = link.split(",");
            return <li><a href={url} class="inline px-2 !m-0">{text}</a></li>;
        })}
    </ul>
</MainDiv>