---
import MainDiv from "../main/MainDiv.astro";

interface Props {
    links: string; //home,index;about,about
}

const { links } = Astro.props;
const linksArray = links.split(";");
---

<MainDiv title="socials">
    <ul class="list-none list-image-none">
        {
            linksArray.map((link) => {
                const [text, url] = link.split(",");
                return (
                    <li>
                        <a href={url} class="inline px-2 !m-0">
                            {text}
                        </a>
                    </li>
                );
            })
        }
    </ul>
</MainDiv>
