---
const { heading } = Astro.props;
---

<li >
    <a href={'#' + heading.slug}>
        <slot />
        {heading.text}
    </a>
    {
        heading.subheadings.length > 0 && (
        <ul class="list-none list-image-none mb-0">
            {heading.subheadings.map((subheading, index) => (
                
                <Astro.self heading={subheading}>
                    <span>
                        {heading.subheadings.length > 1 ? (    
                            [...Array(subheading.depth - 2)].map((_, i) => (
                                i === 0 ? (
                                    <span>&#9500;</span>
                                ) : (
                                    <span>&#9472;</span>
                                )
                            ))
                        ) : (
                            [...Array(subheading.depth - 2)].map((_, i) => (
                                i === 0 ? (
                                    <span>&#9492;</span>
                                ) : (
                                    <span>&#9472;</span>
                                )

                            ))
                        )}
                    </span>
                </Astro.self>
            ))}
        </ul>
        )
    }
</li>