---
import Image from 'astro/components/Image.astro';
import banner from '../images/banner.png'
import { Code } from 'astro:components';
import MainDiv from "../components/MainDiv.astro";
import "../styles/global.css";
import NavigationDiv from "../components/NavigationDiv.astro";

import websiteButton from '../images/88x31button.gif';
import websiteIcon from '../images/icons/icon.png'

import Layout from './Layout.astro';

const { frontmatter } = Astro.props;

const title = `${frontmatter.title} | taxevaiden's website`;
const description = frontmatter.description;
---

<Layout title={title} description={description}>
	<MainDiv>
		<a href="../../blog">&#129168;&#129168; go back!</a>
		<h1>{frontmatter.title}</h1>
		<p><small>{frontmatter.pubDate.toString().slice(0, 10)}</small></p>
	
		<slot />
	</MainDiv>
</Layout>